
/*#header{
		background-color:#ff0066;
		color:#FEFFFF;
		text-align:center;
		padding:20px; 
		font-size: 20px;
		
	}*/
	
	

#cassie{
    width:33%;
    float:left;
}

#ashley{
    width:33%;
    display: inline;
}

#gaby{
    width:33%;
    float: right;
}

#nav {
	display:table; margin:0 auto;
	}
* {
   padding: 0;
   margin: 0;
}

/*body 
{
   background: #f4f1e5;
   color: #000000;
   font-family: 'WebFont', Arial, sans-serif;
	src: url('WebFont.eot');
	src: url('WebFont.eot?#iefix') format('embedded-opentype'),
	     url('WebFont.woff') format('woff'),
	     url('WebFont.ttf') format('truetype'),
	     url('WebFont.svg#webfont') format('svg');
 
}	*/
ul li {
    float: left;
    list-style: none;
    margin-right: 1em; 
	color: #000000;
}
 
li a {
    color: #000000;
    text-decoration: none;
    float: left;
    font-size: 25px;
    padding: 12px;
}
 
li a:hover {
    color: #000000;
}	

li a:hover {
    -webkit-transform: rotate(-10deg) scale(1.2);
    -moz-transform: rotate(-10deg) scale(1.2);
    -o-transform: rotate(-10deg) scale(1.2);
}

.left a:hover {
    -webkit-transform: rotate(-10deg) scale(1.2);
    -moz-transform: rotate(-10deg) scale(1.2);
    -o-transform: rotate(-10deg) scale(1.2);
}
 
.right a:hover {
    -webkit-transform: rotate(10deg) scale(1.2);
    -moz-transform: rotate(10deg) scale(1.2);
    -o-transform: rotate(10deg) scale(1.2);
}	
.left a:hover {
     
    /*Transition*/
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease;
     
    /*Transform*/
    -webkit-transform: rotate(-10deg) scale(1.2);
    -moz-transform: rotate(-10deg) scale(1.2);
    -o-transform: rotate(-10deg) scale(1.2);
}
 
.right a:hover {
 
    /*Transition*/
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease;
     
    /*Transform*/
    -webkit-transform: rotate(10deg) scale(1.2);
    -moz-transform: rotate(10deg) scale(1.2);
    -o-transform: rotate(10deg) scale(1.2);
}	
	
	
#giver{
	
	font-style: italic;
	color: white;
	/*width: 1000px;*/
    padding: 20px;
    border: 100px;
    margin: 70px;
	
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	line-height: 4em;
	
}	

#text1{
	text-align: left;
	font-size: 25px;
}
#text2{
	text-align: center;
	font-size: 30px;	
	color: #ff99ff;
}
#text3{
	text-align: left;
	font-size: 25px;

}
#text4{
	text-align: right;
	font-size: 25px;
}




	#about{
		font-size: 30px;
		color: #ff0066;
		font-family:Geneva, sans-serif;
		font-weight: bold;
		text-align: center;
		border-radius: 8px;
		z-index:99;
	}
