
/*#header{
		background-color:#ff0066;
		color:#FEFFFF;
		text-align:center;
		padding:20px; 
		font-size: 20px;
		
	}*/
	

#nav {
	display:table; margin:0 auto;
	}
* {
   padding: 0;
   margin: 0;
}

body 
{
   background: #f4f1e5;
   color: #000000;
   font-family: helvetica, sans-serif;
}	
ul li {
    float: left;
    list-style: none;
    margin-right: 1em; 
	color: #000000;
}
 
li a {
    color: #000000;
    text-decoration: none;
    float: left;
    font-size: 25px;
    padding: 12px;
}
 
li a:hover {
    color: #000000;
}	

li a:hover {
    -webkit-transform: rotate(-10deg) scale(1.2);
    -moz-transform: rotate(-10deg) scale(1.2);
    -o-transform: rotate(-10deg) scale(1.2);
}

.left a:hover {
    -webkit-transform: rotate(-10deg) scale(1.2);
    -moz-transform: rotate(-10deg) scale(1.2);
    -o-transform: rotate(-10deg) scale(1.2);
}
 
.right a:hover {
    -webkit-transform: rotate(10deg) scale(1.2);
    -moz-transform: rotate(10deg) scale(1.2);
    -o-transform: rotate(10deg) scale(1.2);
}	
.left a:hover {
     
    /*Transition*/
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease;
     
    /*Transform*/
    -webkit-transform: rotate(-10deg) scale(1.2);
    -moz-transform: rotate(-10deg) scale(1.2);
    -o-transform: rotate(-10deg) scale(1.2);
}
 
.right a:hover {
 
    /*Transition*/
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease;
     
    /*Transform*/
    -webkit-transform: rotate(10deg) scale(1.2);
    -moz-transform: rotate(10deg) scale(1.2);
    -o-transform: rotate(10deg) scale(1.2);
}	
	
	
#giver{
	
    width: 700px;
    padding: 100px;
    border: 100px;
    margin: 70px;
}	
	

	#about{
		font-size: 30px;
		color: #ff0066;
		font-family:Geneva, sans-serif;
		font-weight: bold;
		text-align: center;
		border-radius: 8px;
		z-index:99;
	}
